# Normalize text files
* text=auto

# Keep Unix LF for code & config
*.java text eol=lf
*.kt text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.html text eol=lf
*.md text eol=lf

# Scripts
mvnw text eol=lf
*.sh text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
